.fa-star {
  font-size: 1.2em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: var(--star-color)
}

.playerPiece {
  height: 65%;
  width: 65%;
  border-radius: 50%;
  display: inline-block;
  z-index: 999;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #404040;
}

.player1 {
  background-color: var(--player1-color);
  filter: brightness(0.7) saturate(0.3);
}

.player2 {
  background-color: var(--player2-color);
  filter: brightness(0.7) saturate(0.3);
}

.player3{
  background-color: var(--player3-color);
  filter: brightness(0.7) saturate(0.3);
}

.player4 {
  background-color: var(--player4-color);
  filter: brightness(0.7) saturate(0.3);
}
