.fa-star {
  font-size: 1.2em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: var(--star-color)
}

.player1Piece {
  height: 30px;
  width: 30px;
  background-color: var(--player1-color);
  border-radius: 50%;
  display: inline-block;
  z-index: 99999;
}
