.dice{
    width: 100px;
    margin: 200px auto;
    text-align: center;
    line-height: 5;
}


.dice-wrapper{
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.dice-wrapper div{
    width: 98px;
    height: 98px;
    position: absolute;
    border: 4  px solid black;
    border-radius: 5px;
}


.dice-front{
    transform: translateZ(50px) rotateY(0deg);
    background-color: blue;
}
.dice-back{
    transform: translateZ(-50px) rotateY(180deg);
    background-color: green;
}
.dice-top{
    transform: translateY(-50px) rotateX(90deg);
    background-color: red;
}
.dice-bottom{
    transform: translateY(50px) rotateX(-90deg);
    background-color: yellow;
}

.dice-right{
    transform: translateX(50px) rotateY(90deg);
    background-color: orange;
}
.dice-left{
    transform: translateX(-50px) rotateY(270deg);
    background-color: darkviolet;
}


.dice .dice-wrapper{
    transform: rotateX(-30deg) rotateY(-40deg);
}
.dice .dice-wrapper div{
    /* background-color: lightgrey; */
}
