.lt-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.lt-1BR { grid-area: 13 / 7 / 14 / 8; }

.lt-2BR { grid-area: 12 / 7 / 13 / 8; }

.lt-3BR { grid-area: 11 / 7 / 12 / 8; }

.lt-4BR { grid-area: 10 / 7 / 11 / 8; }

.lt-5BR { grid-area: 9 / 7 / 10 / 8; }

.lt-6BR { grid-area: 9 / 6 / 10 / 7; }

.lt-7BR { grid-area: 9 / 5 / 10 / 6; }

.lt-8BR { grid-area: 9 / 4 / 10 / 5; }

.lt-9BR { grid-area: 9 / 3 / 10 / 4; }

.lt-10BR { grid-area: 9 / 2 / 10 / 3; }

.lt-11BR { grid-area: 9 / 1 / 10 / 2; }

.lt-12BR { grid-area: 8 / 1 / 9 / 2; }

.lt-13BR { grid-area: 7 / 1 / 8 / 2; }

.lt-1BL { grid-area: 9 / 13 / 10 / 14; }

.lt-2BL { grid-area: 9 / 12 / 10 / 13; }

.lt-3BL { grid-area: 9 / 11 / 10 / 12; }

.lt-4BL { grid-area: 9 / 10 / 10 / 11; }

.lt-5BL { grid-area: 9 / 9 / 10 / 10; }

.lt-6BL { grid-area: 10 / 9 / 11 / 10; }

.lt-7BL { grid-area: 11 / 9 / 12 / 10; }

.lt-8BL { grid-area: 12 / 9 / 13 / 10; }

.lt-9BL { grid-area: 13 / 9 / 14 / 10; }

.lt-10BL { grid-area: 14 / 9 / 15 / 10; }

.lt-11BL { grid-area: 15 / 9 / 16 / 10; }

.lt-12BL { grid-area: 15 / 8 / 16 / 9; }

.lt-13BL { grid-area: 15 / 7 / 16 / 8; }

.lt-spawn1TL { grid-area: 2 / 2 / 3 / 3; }

.lt-spawn2TL { grid-area: 2 / 5 / 3 / 6; }

.lt-spawn3TL { grid-area: 5 / 2 / 6 / 3; }

.lt-spawn4TL { grid-area: 5 / 5 / 6 / 6; }

.lt-spawnTL { grid-area: 1 / 1 / 7 / 7; }

.lt-spawn1TR { grid-area: 2 / 11 / 3 / 12; }

.lt-spawn2TR { grid-area: 2 / 14 / 3 / 15; }

.lt-spawn3TR { grid-area: 5 / 11 / 6 / 12; }

.lt-spawn4TR { grid-area: 5 / 14 / 6 / 15; }

.lt-spawnTR { grid-area: 1 / 10 / 7 / 16; }

.lt-spawn1BR { grid-area: 11 / 11 / 12 / 12; }

.lt-spawn2BR { grid-area: 11 / 14 / 12 / 15; }

.lt-spawn3BR { grid-area: 14 / 11 / 15 / 12; }

.lt-spawn4BR { grid-area: 14 / 14 / 15 / 15; }

.lt-spawnBR { grid-area: 10 / 10 / 16 / 16; }

.lt-spawn1BL { grid-area: 11 / 2 / 12 / 3; }

.lt-spawn2BL { grid-area: 11 / 5 / 12 / 6; }

.lt-spawn3BL { grid-area: 14 / 2 / 15 / 3; }

.lt-spawn4BL { grid-area: 14 / 5 / 15 / 6; }

.lt-spawnBL { grid-area: 10 / 1 / 16 / 7; }

.lt-midt { grid-area: 8 / 8 / 9 / 9; }

.lt-1eT { grid-area: 2 / 8 / 3 / 9; }

.lt-2eT { grid-area: 3 / 8 / 4 / 9; }

.lt-3eT { grid-area: 4 / 8 / 5 / 9; }

.lt-4eT { grid-area: 5 / 8 / 6 / 9; }

.lt-5eT { grid-area: 6 / 8 / 7 / 9; }

.lt-6eT { grid-area: 7 / 8 / 8 / 9; }

.lt-1eR { grid-area: 8 / 14 / 9 / 15; }

.lt-2eR { grid-area: 8 / 13 / 9 / 14; }

.lt-3eR { grid-area: 8 / 12 / 9 / 13; }

.lt-4eR { grid-area: 8 / 11 / 9 / 12; }

.lt-5eR { grid-area: 8 / 10 / 9 / 11; }

.lt-6eR { grid-area: 8 / 9 / 9 / 10; }

.lt-1eL { grid-area: 8 / 2 / 9 / 3; }

.lt-2eL { grid-area: 8 / 3 / 9 / 4; }

.lt-3eL { grid-area: 8 / 4 / 9 / 5; }

.lt-4eL { grid-area: 8 / 5 / 9 / 6; }

.lt-5eL { grid-area: 8 / 6 / 9 / 7; }

.lt-6eL { grid-area: 8 / 7 / 9 / 8; }

.lt-1eB { grid-area: 14 / 8 / 15 / 9; }

.lt-2eB { grid-area: 13 / 8 / 14 / 9; }

.lt-3eB { grid-area: 12 / 8 / 13 / 9; }

.lt-4eB { grid-area: 11 / 8 / 12 / 9; }

.lt-5eB { grid-area: 10 / 8 / 11 / 9; }

.lt-6eB { grid-area: 9 / 8 / 10 / 9; }

.lt-0BR { grid-area: 14 / 7 / 15 / 8; }

.lt-0BL { grid-area: 9 / 14 / 10 / 15; }

.lt-0TL { grid-area: 7 / 2 / 8 / 3; }

.lt-1TL { grid-area: 7 / 3 / 8 / 4; }

.lt-2TL { grid-area: 7 / 4 / 8 / 5; }

.lt-3TL { grid-area: 7 / 5 / 8 / 6; }

.lt-4TL { grid-area: 7 / 6 / 8 / 7; }

.lt-5TL { grid-area: 7 / 7 / 8 / 8; }

.lt-6TL { grid-area: 6 / 7 / 7 / 8; }

.lt-7TL { grid-area: 5 / 7 / 6 / 8; }

.lt-8TL { grid-area: 4 / 7 / 5 / 8; }

.lt-9TL { grid-area: 3 / 7 / 4 / 8; }

.lt-10TL { grid-area: 2 / 7 / 3 / 8; }

.lt-11TL { grid-area: 1 / 7 / 2 / 8; }

.lt-12TL { grid-area: 1 / 8 / 2 / 9; }

.lt-13TL { grid-area: 1 / 9 / 2 / 10; }

.lt-0TR { grid-area: 2 / 9 / 3 / 10; }

.lt-1TR { grid-area: 3 / 9 / 4 / 10; }

.lt-2TR { grid-area: 4 / 9 / 5 / 10; }

.lt-3TR { grid-area: 5 / 9 / 6 / 10; }

.lt-4TR { grid-area: 6 / 9 / 7 / 10; }

.lt-5TR { grid-area: 7 / 9 / 8 / 10; }

.lt-6TR { grid-area: 7 / 10 / 8 / 11; }

.lt-7TR { grid-area: 7 / 11 / 8 / 12; }

.lt-8TR { grid-area: 7 / 12 / 8 / 13; }

.lt-9TR { grid-area: 7 / 13 / 8 / 14; }

.lt-10TR { grid-area: 7 / 14 / 8 / 15; }

.lt-11TR { grid-area: 7 / 15 / 8 / 16; }

.lt-12TR { grid-area: 8 / 15 / 9 / 16; }

.lt-13TR { grid-area: 9 / 15 / 10 / 16; }
